body
{
    display: flex;
}


.btn
{
    display: block;
    margin: 10px;
}

.btn:hover
{
    color: black;
}

.header
{
    text-align: center;
}

.tables
{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

#dynamicTable
{
    border-spacing: 1px;
    margin-bottom: 20px;
}

#dynamicTable input
{
    padding: 5px;
}

#uniqueStates
{
    margin-top: 60px;
    margin-left: 150px;
}

#uniqueStates td
{
    padding: 10px;
    border: 1px solid black;
}

#word {
    margin-top: 30px;
}

#word input
{
    margin-top: 10px;
}

#word input, label
{
    display: block;
}